.main {
    width: 980px;
    height: 455px;
    /* background-color: aquamarine; */
    margin-left: 220px;
    margin-top: 10px;

}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?8ib608');
    src:  url('../fonts/icomoon.eot?8ib608#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?8ib608') format('truetype'),
      url('../fonts/icomoon.woff?8ib608') format('woff'),
      url('../fonts/icomoon.svg?8ib608#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
.focus {
    float: left;
    width: 721px;
    height: 455px;
    /* background-color: red; */
}
.newsflash {
    float: right; 
    width: 250px;
    height: 455px;
}
.newsflash .news {
    height: 165px;
    border: 1px solid #e4e4e4;
   

}
.newsflash .news .news_hd {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}
.newsflash .news .news_hd h5 {
    float: left;
}
.newsflash .news .news_hd .more {
    float: right;
}
.newsflash .news .news_hd .more::after {
    font-family: 'icomoon';
    content: '';

}
.newsflash .news .news_bd {
    padding: 5px 15px 0;
}
.newsflash .news .news_bd ul li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.newsflash .lifeservice{
    overflow: hidden;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
}
.newsflash .lifeservice ul {
    width: 252px;
}
.newsflash .lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    text-align: center;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.newsflash .lifeservice ul li a{
    display: block;
}
.newsflash .lifeservice ul li:nth-child(1) a i {
    background: url(../images/icons.png) no-repeat -18px -15px;
}
.newsflash .lifeservice ul li:nth-child(2) a i {
    background: url(../images/icons.png) no-repeat -79px -15px;
}
.newsflash .lifeservice ul li:nth-child(3) a i {
    background: url(../images/icons.png) no-repeat -142px -15px;
}
.newsflash .lifeservice ul li:nth-child(4) a i {
    background: url(../images/icons.png) no-repeat -205px -15px;
}
.newsflash .lifeservice ul li:nth-child(5) a i {
    background: url(../images/icons.png) no-repeat -18px -86px;
}
.newsflash .lifeservice ul li:nth-child(6) a i {
    background: url(../images/icons.png) no-repeat -79px -86px;
}
.newsflash .lifeservice ul li:nth-child(7) a i {
    background: url(../images/icons.png) no-repeat -142px -86px;
}
.newsflash .lifeservice ul li:nth-child(8) a i {
    background: url(../images/icons.png) no-repeat -205px -86px;
}
.newsflash .lifeservice ul li:nth-child(9) a i {
    background: url(../images/icons.png) no-repeat -18px -158px;
}
.newsflash .lifeservice ul li:nth-child(10) a i {
    background: url(../images/icons.png) no-repeat -79px -158px;
}
.newsflash .lifeservice ul li:nth-child(11) a i {
    background: url(../images/icons.png) no-repeat -142px -158px;
}
.newsflash .lifeservice ul li:nth-child(12) a i {
    background: url(../images/icons.png) no-repeat -205px -158px;
}
.newsflash .lifeservice ul li a i {
    display: inline-block;
    width: 24px;
    height: 28px;
    background-color: antiquewhite;
    margin-top: 12px;
}
.newsflash .bargain {
    margin-top: 5px;
}
/* 推荐模块 */
.recom {
    
    height: 163px;
    margin-top: 12px;

}
.recom_hd {
    float: left;
    height: 163px;
    width: 205px;
    text-align: center;
    padding-top: 30px;
    background-color: #5c5251;
    color: #ffffff;
}
.recom_bd {
    float: right;
    background-color: #ebebeb;
}
.recom_bd ul li {
    position: relative;
    float: left;
} 
.recom_bd ul li img {
    width: 100%;
    height: 100%;
}
.recom_bd ul li:nth-child(-n+3)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}
/* 家用电器模块 */
.floor {
    margin-top: 30px;
}
.floor .box_hd {
    height: 30px;
    margin-top: 30px;
    border-bottom: 2px solid #c81623;
}
.floor .box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
}
.floor  .box_hd .tab_list {
    float: right;
    line-height: 30px;
    
}
.floor  .box_hd ul li {
    float: left;
    
}
.floor .box_hd ul li a {
    margin: 0 15px;
}
.floor  .box_bd {
    height: 361px;
    
}
.floor .box_bd .tab_content .tab_list_item01>div {
    float: left;
}
.col_210 {
    width: 210px;
    height: 361px;
    text-align: center;
    background-color: #f9f9f9;
}
.col_210 ul {
    padding-left: 12px;
}
.col_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    margin-right: 10px;
    border-bottom: 1px solid #ccc;
}
.col_329 {
    width: 329px;
    height: 361px;
}
.col_221 {
    width: 221px;
    height: 361px;
    border-right: 1px solid #ccc;
}
.col_221 .bb {
    display: block;
    border-bottom: 1px solid #ccc;
}
.col_219 {
    width: 219px;
    height: 361px;
}
.col_219 .tp {
    display: block;
    border-bottom: 1px solid #ccc;
}