/* 列表页专有样式 */
.sk {
    position: absolute;
    left: 190px;
    top: 40px;
    border-left: 2px solid #c81523;
    padding: 3px 0 0 14px;
}
.sk_list {
    float: left;
}
.sk_list ul li {
    float: left;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}
.sk_list ul li a {
    display: block;
    line-height: 47px;
    padding: 0 30px;
}
.sk_content {
    float: right;
}
.sk_content ul li {
    float: left;
   line-height: 47px;
   padding: 0 15px;
   font-size: 14px;  
}
.sk_content ul li:last-child a::after {
    content: '\e935';
    font-family: 'icomoon';
}
.sk_bd ul li {
    overflow: hidden;
    float: left;
    width: 290px;
    height: 460px;
    margin-right: 10px;

}
.sk_bd ul li:nth-child(4n) {
    margin-right: 0;
}
.sk_bd ul li:hover {
    border: 1px solid #c81523;
}
.sk_bd ul li img {
    width: 100%;
    height: 100%;
}